/* == Body styles == */
/*
  1. Tilføj forgrunds- og baggrundsfarve
  2. Tilføj en transition på 1s
*/
body {
  background: rgba(227, 192, 110, 0.868);
  color: hsl(0, 0%, 100%);
  transition: 1s;
}
p,
figcaption {
  font-family: 'Baskervville',
    serif;
}

h2 {
  font-family: 'Bebas Neue',
    cursive;
}
/*
  1. Byt rundt på forgrunds- og baggrundsfarve på klassen .dark
*/
body.dark {
  background: rgb(86, 53, 145);
    color: rgb(242, 246, 10);
  transition: 1s;
}

section {
  display: grid;
  place-content: center;
  padding-left: 3em;
    padding-right: 3em;
}
#section1 {
  display: flex;
    flex-flow: wrap;
  padding-top: none;

}
/* Header / Banner styles */
/*
  1. Få <h1> og <button> til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden
  2. Tilføj forgrunds- og baggrundsfarve
  3. Tilføj en transition på 1s
*/
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: rgba(40, 90, 9, 0.761); */
    /* background: rgb(86, 53, 145); */
  transition: 1s;
  position: sticky;
    top: 10px;
}
#logo{
  width: 3.5em;
}
/*
  1. Ændr evt. baggrundsfarve på banner, når body har klassen .dark
  -> .dark .banner { ... }
*/
.dark .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  transition: 1s;

}
h2 {
  
  text-align: center;
}
section header h2 {
  text-decoration: 5px solid underline rgb(253,
      192,
      0);
  padding-top: 0.1em;
}

.dark section header h2 {
  text-decoration: 5px solid underline rgb(245,
      215,
      208);
  padding-top: 0.1em;
}
/* Article styles og billede formatting*/
/*
  1. Lav et 2-kolonne grid vha. grid-template-columns
  2. Tilføj evt. gap
*/
.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

}

.heightformat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px
  }
  
  .widthformat {
    display: grid;
    grid-template-columns: repeat(auto-fit)minmax(200px, 1fr);

}
.widthformat figure {
  width: 100%;

}
.big_container {
  width: 100%;
}

.small_container {
  width: 85%;
}
#portrait {
  width: 100%;
}

/*behind the  scenes article attr.*/
article {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;

}
/* Figure styles */
/*
  1. Ændr rækkefølgen, så <figure> står først vha. order
  -> order: -1;
*/
figure {
  order: -1;
}

/* Button styles */

.mode {
  background: hsl(255, 66%, 65%);
  color: hsl(0, 0%, 100%);
  transition: 1s;
  border: 2px solid hsl(0, 0%, 100%);
}

.mode:hover {
  background: hsl(255, 77%, 25%);
    color: rgb(242, 246, 10);
}

/*
  1. Ændr evt. baggrundsfarve, når body har klassen .dark
  -> .dark .banner { ... }
  2. Tilføj evt. en hover-effekt
  -> .dark .mode:hover { ... }
*/
.dark .mode:hover {
  background: rgba(227, 192, 110, 0.868);
    color: hsl(0, 0%, 100%);
}

.dark .mode {
  background: hsl(50, 83%, 64%);
}
img {
  max-width: 100%;
}

